mobile.css
/*
     FILE ARCHIVED ON 00:58:27 Jun 05, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:01:49 Nov 13, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 91.862
  exclusion.robots: 0.061
  exclusion.robots.policy: 0.054
  cdx.remote: 0.049
  esindex: 0.009
  LoadShardBlock: 68.475 (3)
  PetaboxLoader3.datanode: 102.966 (6)
  load_resource: 314.738 (2)
  PetaboxLoader3.resolve: 241.2 (2)
  loaddict: 17.146
*/